* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-size: 3.5vw;
  font-family: 'Courier New', Courier, monospace;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  width: 100%;
  background-color: rgba(211, 211, 211, 0.37);
}

header h3 {
  font-size: 1.75vw;
}

header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a img {
  margin-right: 8px;
}

main {
  padding: 16px;
}

main .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.75vw;
}

main .title h2 {
  font-size: 5.25vw;
}

main .game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .game #turn1, main .game #turn2 {
  color: white;
  font-size: 2.1vw;
}

@media only screen and (min-width: 790px) {
  main .game {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

main .players {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 16px;
  border: 1px solid lightgray;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .players .ptitle {
  justify-self: flex-start;
  margin-bottom: 5.25vw;
}

main .players .ptitle::after {
  content: " .";
  color: white;
  display: block;
  background: black;
  height: 1px;
}

main .players .pgame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #playerone {
  border: 2px solid aqua;
}

main #playertwo {
  border: 2px solid red;
}

main .between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 16vw;
  padding: 8px;
}

main .between .scoreboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .between .scoreboard .wins {
  border-radius: .2rem;
}

footer {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-end;
  text-align: center;
  background: rgba(211, 211, 211, 0.371);
  width: 100%;
  padding: 16px;
}

button {
  margin: 8px;
  background: transparent;
  border: 1px solid lightgray;
  font-size: 3.5vw;
}

.newcard, .card {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: .2rem;
}

#start, .draw, .stop {
  cursor: pointer;
  border-radius: .2rem;
  padding: 8px;
}

#start {
  font-size: 2.8vw;
  border-color: lightgreen;
}
/*# sourceMappingURL=style.css.map */