$border-base: 1px solid lightgray;

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgba(194, 194, 194, 0.37);
  justify-content: space-between;

  h3 {
    font-size: 24px;
  }
  
  .rules {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-end;

    h2 {
      text-align: end;
    }
  }

  a {
    display: flex;
    align-items: center;

    img {
      margin-right: 8px;
    }
  }
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.container {
  border: 1px solid lightgray;
  border-radius: .5rem;
  padding: 16px;
  margin-left: .1vw;
  margin-right: .1vw;
  min-width: 300px;
  max-width: 600px;
  width: 50%;
  
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  h2 {
    font-size: 36px;
  }
  margin-bottom: 8px;
  &::after {
    content: '';
    display: block;
    
    height: 1px;
    width: 100%;

    margin: 4px;

    background-color: rgb(92, 92, 92);

    @media only screen and (min-width: 750px) {
      display: flex;
    }
  }
}


.game, .players, .pgame, .scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .ptitle {
    text-align: center;
  }

}

.scoreboard {
  @media only screen and (min-width: 750px) {
    flex-direction: row;
  }
}

.game {
  justify-content: space-around;
  @media only screen and (min-width: 750px) {
    flex-direction: row;
  }
}

.pgame {
  #turn1, #turn2 {
    color: transparent;
  }
}

.between {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  width: 100%;
}

.btcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  width: 80%;

  @media only screen and (min-width: 750px) {
    flex-direction: row;
    max-width: 150px;
  }

  &::before {
    content: '';
    display: block;
    
    height: 1px;
    width: 100%;

    margin: 4px;

    background-color: lightgray;

    @media only screen and (min-width: 750px) {
      height: 150px;
      width: 1px;
    }
  }

  &::after {
    content: '';
    display: block;
    
    height: 1px;
    width: 100%;

    margin: 4px;

    background-color: lightgray;

    @media only screen and (min-width: 750px) {
      height: 150px;
      width: 1px;
    }
  }
}

button {
  display: flex;
  flex-direction: column;
  margin: 2px;
  width: max-content;

  background-color: transparent;
  border: $border-base;
  border-radius: .2rem;
}

.newcard, .sum {
  border-top: none;
  border-left: none;
  border-right: none;
}

.draw, .stop, #start {
  &:hover {
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.344);
  }
}

#rules {
  padding: 8px;
  text-align: center;

  &::after {
    content: '';
    display: block;
    
    height: 1px;
    width: 100%;

    margin: 4px;

    background-color: lightgray;
  }
}