$border-base: 1px solid lightgray;
$base-font-size: 3vw;


* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-size: $base-font-size; 
  font-family: 'Courier New', Courier, monospace;
  
}

body {
  height: 100%;
  width: 100vw;
  padding: 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.37);
  justify-content: space-between;

  h3 {
    font-size: $base-font-size * .8
  }
  
  .rules {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-end;

    h2 {
      font-size: $base-font-size * .8;
      text-align: end;
    }
  }

  a {
    display: flex;
    align-items: center;


    img {
      margin-right: 8px;
    }
  }
}

main {
  padding: 16px;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: $base-font-size * 0.5;

    h2 {
      font-size: $base-font-size * 1.5;
    }
  }

  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #turn1, #turn2 {
      color: white;
      font-size: $base-font-size * .6;
    }

    @media only screen and (min-width: 790px) {
      flex-direction: row;
    }
  }

  .players {
    height: max-content;
    width: max-content;

    padding: 16px;

    border: $border-base;
    border-radius: 0.3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .ptitle {
      justify-self: flex-start;
      margin-bottom: $base-font-size * 1.5;

      &::after {
        content: " .";
        color: rgb(255, 255, 255);
        display: block;
        background: rgb(0, 0, 0);
        height: 1px;
      }
    }
    
    .pgame {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
  }

  #playerone {
    border: 2px solid aqua;
  }
  #playertwo {
    border: 2px solid red;
  }
  
  .between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 16vw;

    padding: 8px;

    .scoreboard {
      display: flex;
      align-items: center;
      justify-content: center;

      .wins {
        border-radius: .2rem;
      }
    }
  }
}

button {
  margin: 8px;
  background: transparent;
  border: $border-base;
  font-size: $base-font-size;

  
}

.newcard, .card {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: .2rem;
}

#start, .draw, .stop {
  cursor: pointer;
  border-radius: .2rem;
  padding: 8px;
  
}
#start {
  font-size: $base-font-size * 0.8;
  border-color: lightgreen;
}

#rules {
  font-size: $base-font-size * 0.8;
  margin: 16px;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.37);
}